:root {
  --green-color: #5bb034;
  --gray-color: #b1becd;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.login-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.ingresar {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(5, 125px); 
  background: burlywood;
}

.ingresar img {
  grid-column: 3;
  grid-row: 2;
  position: relative;
  top: 10px;
}

.ingresar h1 {
  display: grid;
  grid-column: 3 / span 3;
  grid-row: 3;
  color: white;
  font-size: 30px;
  font-weight: lighter;
  margin: 0;
}

.ingresar .first-p {
  display: grid;
  grid-column: 3 / span 4;
  grid-row: 3;
  color: white;
  font-size: 14px;
  align-items: flex-end;
  margin: 0;
}

.ingresar .second-p {
  display: grid;
  grid-column: 3 / span 4;
  grid-row: 4;
  color: white;
  font-size: 14px;
  align-items: center;
  margin: 0;
}

.entradas {
  display: grid;
  grid-template-rows: 80px 1fr;
}

.menu{
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu ul{
  margin: 0;
  padding: 20px;
}

.menu li{
  list-style: none;
}

.menu a{
  text-decoration: none;
  color: var(--gray-color);
  font-size: 17px;
}

.menu a:hover{
    color: black;
}

.items{
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(6,1fr);
}

.email {
  grid-column: 3 / span 4;
  grid-row: 2;
}
.password {
  grid-column: 3 / span 4;
  grid-row: 3;
}

.password label,
.email label {
  font-size: 17px;
  margin-bottom: 10px;
}

.password input,
.email input{
  width: 350px;
  height: 35px;
  padding-left: 20px;
  font-size: 15px;
  margin-top: 15px;
  border: 1px solid var(--gray-color);
}

::-webkit-input-placeholder{
  color: var(--gray-color);
}

.forget {
  grid-column: 3 / span 4;
  grid-row: 4;
  padding: 0;
  justify-content: center;
  display: grid;
  align-items: center;
}

.forget li {
  list-style: none;
}

.forget a {
  text-decoration: none;
  font-size: 17px;
}

.forget .pass {
  color: var(--gray-color);
  margin-right: 10px;
}

.forget .recover {
  color: var(--green-color);
}

.submit{
  grid-column: 3/span 4;
  grid-row: 5;
  display: flex;
  justify-content: center;
}

.submit button {
  grid-column: 4 / span 2;
  grid-row: 5;
}

.submit button{
  width: 125px;
  height: 40px;
  background: var(--green-color);
  border: none;
  border-radius: 2px;
  color: white;
  font-size: 14px;
  cursor: pointer;
}

.submit button:hover {
  background: green;
}
