:root {
  --green-color: #5bb034;
  --gray-color: #b1becd;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.login-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.fondo{
  background-image: url('../images/fondo.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.ingresar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #e4dddd87;
}

.ingresar .return{
  position: absolute;
  top: 50px;
  left: 50px;
}

.fas{
  font-size: 30px;
  background: black;
  color: white;
  opacity: 55%;
  padding: 3px 10px;
}

.account{
  padding-bottom: 40px;
}

.ingresar h1 {
  color: black;
  font-size: 30px;
  font-weight: lighter;
  margin: 0;
  padding: 40px 0 15px 0px;}

.ingresar .first-p {
  color: black;
  font-size: 16px;
  width: 400px;
}

.items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.email {
  display: flex;
  flex-direction: column;
  margin:30px 0;
}
.password {
  display: flex;
  flex-direction: column;
  margin:30px 0 ;
}

.password label,
.email label {
  font-size: 17px;
}

.password input,
.email input {
  width: 355px;
  height: 35px;
  padding-left: 20px;
  font-size: 15px;
  margin-top: 15px;
  border: 1px solid var(--gray-color);
}

::-webkit-input-placeholder {
  color: var(--gray-color);
}

.forget {
  padding: 0;
  margin: 20px 0;
  text-align: center;
}

.forget li {
  list-style: none;
}

.forget a {
  text-decoration: none;
  font-size: 16px;
}

.forget .pass {
  color: var(--gray-color);
  margin-right: 10px;
}

.forget .recover {
  color: var(--green-color);
}

.submit{
  margin: 50px;
  text-align: center;
}

.submit button {
  width: 130px;
  height: 40px;
  background: var(--green-color);
  border: none;
  border-radius: 2px;
  color: white;
  font-size: 14px;
  cursor: pointer;
}

.submit button:hover {
  background: green;
}



@media screen and (max-width: 1440px) {
  .ingresar .return{
    top: 40px;
  }
}

@media screen and (max-width: 1023px) {
  .account{
    padding: 20px;
  }
  .ingresar .first-p,
  .ingresar .second-p{
    width: 286px;
  }
  .items{
    padding: 0 15px;
  }
  .submit{
    padding-top: 30px;
    margin: 0;
  }
}

@media screen and (max-width: 767px) {
  .login-container{
    display: initial;
  }
  .items-container{    
    padding: 76px 0;
  }
  .account{
    text-align: center;
  }
  .account .second-p, 
  .account .first-p {
    width: 350px;
    text-align: justify;
}
}

@media screen and (max-width: 479px) {
  .account{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 90px 0 0 0;
  }
  .ingresar h1{
    font-size: 25px;
  }
  .ingresar .first-p,
  .ingresar .second-p{
    width: 260px;
  }
  .items-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 35px 0;
  }
  .items{
    padding: 0;
  }
  .password{
    margin: 30px 0 0 0;
  }
  .email input,
  .password input{
    width: 240px;
  }
  .forget li{
    display: flex;
    flex-direction: column;
  }
  .forget a{
    margin-top: 30px;
  }
}

@media screen and (max-width: 319px) {
}
